@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-background: hsl(196, 100%, 98%);
    --color-base-blue-light: hsl(195, 46%, 40%);
    --color-base-blue-dark: hsl(195, 91%, 25%);
    --color-base-font: hsl(240, 6%, 13%);
    --color-base-font-two: hsl(240, 5%, 7%);

    font-size: 62.5%;
}

html,
body,
input {
    font-family: "Mulish", sans-serif;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: var(--color-base-blue-dark);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    gap: 2.55rem;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(121.6rem, 100%);
    margin: 0 auto;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

header form {
    flex: 1;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.4rem;

    border: none;
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.input-wrapper input::placeholder {
    color: var(--color-base-white);
    font-size: 1.6rem;
    font-weight: 600;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;

    object-fit: cover;
}

main>img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

section {
    margin: 0 auto;
    padding: 3.2rem;
    max-width: 65.0rem;
}

section h1 {
    margin-bottom: .8rem;
    font-size: 2.4rem;
    font-weight: bold;
}

h1,
h2 {
    color: var(--color-base-font);
    font-weight: bold;
}

p {
    color: var(--color-base-font-two);
    line-height: 160%;
}

.feedback {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.1rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 3.2rem 0;
}

li {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    max-width: 38.4rem;
}

ul li img {
    max-height: 8.4rem;
}

.text h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.text p {
    font-size: 1.4rem;
    line-height: 160%;
}

footer p {
    color: var(--color-base-white);
    text-align: center;
    padding: 2.65rem 1.6rem;
    font-weight: 600;
    background-color: var(--color-base-blue-light);
}

@media (min-width:1100px) {
    body {
        display: grid;
        grid-template-areas:
            "header header"
            "princp princip"
            "footer footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    header {
        grid-area: header;
    }

    .principal {
        display: flex;
        grid-area: princp;
        justify-content: center;
        overflow-y: scroll;
    }

    main {
        grid-area: main;
        margin-top: 4.4rem;
        max-width: 80.3rem;
    }

    main section {
        padding-left: 0;
        padding-right: 0;
    }

    main>img {
        border-radius: .5rem;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.1rem;
    }

    .title h1 {
        margin: 0;
    }

    .title .feedback {
        margin: 0;
    }

    aside {
        padding-top: 4.4rem;
        padding-left: 3.4rem;
    }

    aside section {
        padding: 0;
    }

    section {
        max-width: none;
    }

    header{
        --startY: -100%;
        animation: enter 0.3s ease;
    }

    footer{
        grid-area: footer;
        --startY: 100%;
        animation: enter 0.53s ease;
    }
}

@keyframes enter{
    from{
        transform: translateY(var(--startY));
    }
}