@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body, input, button{
    font: normal 1.4rem "Roboto";
}

body{
    background-color: #040924;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}

.notNumber{
    position: absolute;
    top: 0;
    width: 100vw;
    padding: .8rem;
    background-color: #F03E3E;
    text-align: center;
}
.notNumber span{
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
}

main{
    background-color: white;
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: .6rem;
    width: min(42.8rem, 90%);
    box-shadow: 0 .2rem .4rem rgba(0,0,0,0.1);
}

fieldset{
    border: none;
    display: grid;
    gap: 1.6rem;
}

h1{
   color: #0C3440; 
   font-size: 3.2rem;
   line-height: 4rem;
   margin-bottom: 3.2rem;
}

.input-wrapper input{
    display: block;
    width: 100%;
    padding: 1.6rem;
    border-radius: .4rem;
    margin-top: .8rem;

    font-size: 1.6rem;
    line-height: 2rem;
    color: #212529;

    background-color: #DCE2E9;
    border: 1px solid rgba(73, 80, 87, 0.3)
}

.input-wrapper input:focus{
    outline: 2px solid #02799D;
}

label{
    color: #00453A;
    line-height: 1.8rem;
}

form button{
    width: 100%;
    margin-top: 3.2rem;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    
    font-size: 1.6rem;
    font-weight: bold;

    border-radius: .4rem;
    border: none;
    cursor: pointer;

    background-color: #02799D;
    color: #fff;
    transition: all .5s ease;
}

form button:hover{
    scale: 1.03;
    background-color: #006c8d;
}

.resultBackground{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
}

.resultBox{
    position: relative;
    background-color: white;
    padding: 4.8rem;
    border-radius: .6rem;
}

.resultBox button{
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 1.6rem;
    right: 1.6rem;
}

.hide{
    display: none;
}
